{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h2><a href="/catalog">Каталог</a></h2>
        </div>
        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}
            <a> Сортировать по: </a>
            <a href="/catalog?sort=name"> названию </a>
            <a href="/catalog?sort=min_price"> начиная с дешевых </a>
            <a href="/catalog?sort=max_price"> начиная с дорогих </a>
            <p></p>
        </div>

        <div class="content">
            {# Здесь должен отображаться каталог с телефонами #}
             <table>
                 <tbody>
                 </tr>
                 {% for phone in phones %}
                     <th>
                         <h5><a href="/catalog/{{ phone.slug }}/"><center>{{ phone.name }}</center></a></h5>
                         <p><center>Стоимость: {{ phone.price }} руб.</center></p>
                         <p><img src={{ phone.image }} width="300" height="550" alt={{ phone.name }}></p>
                         <p></p>
                     </th>
                 {% endfor %}
                 </tr>
                 </tbody>
             </table>

        </div>
    </div>
{% endblock %}