{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h6>Телефон: </h6>
            <h3><b>{{ phone.name }}</b></h3>
            <img src={{ phone.image }} width="300" height="550"/>
            <h5>Стоимость: {{ phone.price }} руб.</h5>
        </div>
        <div class="content">
            <h6>Дата релиза: {{ phone.release_date }}</h6>
            {% if phone.lte_exists == True %}
                LTE: есть
            {% else %}
                LTE: нет
            {% endif %}
        <h6><a href="/catalog">Назад</a></h6>
        </div>
    </div>
{% endblock %}